<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<dict>
		<key>@MMK_R_C</key>
		<integer>-6</integer>
		<key>@MMK_R_G</key>
		<integer>-5</integer>
		<key>@MMK_R_O</key>
		<integer>-5</integer>
		<key>@MMK_R_T</key>
		<integer>-19</integer>
		<key>@MMK_R_U</key>
		<integer>-11</integer>
		<key>@MMK_R_W</key>
		<integer>-36</integer>
		<key>@MMK_R_Y</key>
		<integer>-35</integer>
		<key>@MMK_R_w</key>
		<integer>-8</integer>
		<key>@MMK_R_y</key>
		<integer>-7</integer>
		<key>V</key>
		<integer>-34</integer>
		<key>quotedblright</key>
		<integer>-103</integer>
		<key>quoteright</key>
		<integer>-93</integer>
		<key>v</key>
		<integer>-11</integer>
	</dict>
	<key>@MMK_L_B</key>
	<dict>
		<key>comma</key>
		<integer>-38</integer>
		<key>period</key>
		<integer>-53</integer>
	</dict>
	<key>@MMK_L_D</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-10</integer>
		<key>@MMK_R_W</key>
		<integer>-5</integer>
		<key>@MMK_R_Y</key>
		<integer>-7</integer>
		<key>V</key>
		<integer>-10</integer>
		<key>comma</key>
		<integer>-38</integer>
		<key>period</key>
		<integer>-43</integer>
	</dict>
	<key>@MMK_L_F</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-21</integer>
		<key>comma</key>
		<integer>-105</integer>
		<key>period</key>
		<integer>-104</integer>
	</dict>
	<key>@MMK_L_G</key>
	<dict>
		<key>@MMK_R_W</key>
		<integer>-4</integer>
		<key>@MMK_R_Y</key>
		<integer>-5</integer>
		<key>V</key>
		<integer>-5</integer>
	</dict>
	<key>@MMK_L_J</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-6</integer>
		<key>comma</key>
		<integer>-14</integer>
		<key>period</key>
		<integer>-38</integer>
	</dict>
	<key>@MMK_L_K</key>
	<dict>
		<key>@MMK_R_C</key>
		<integer>-8</integer>
		<key>@MMK_R_G</key>
		<integer>-10</integer>
		<key>@MMK_R_O</key>
		<integer>-6</integer>
		<key>@MMK_R_S</key>
		<integer>-5</integer>
		<key>@MMK_R_a</key>
		<integer>-6</integer>
		<key>@MMK_R_e</key>
		<integer>-2</integer>
		<key>@MMK_R_o</key>
		<integer>-4</integer>
		<key>Q</key>
		<integer>-6</integer>
	</dict>
	<key>@MMK_L_L</key>
	<dict>
		<key>@MMK_R_C</key>
		<integer>-6</integer>
		<key>@MMK_R_G</key>
		<integer>-8</integer>
		<key>@MMK_R_O</key>
		<integer>-9</integer>
		<key>@MMK_R_S</key>
		<integer>-8</integer>
		<key>@MMK_R_T</key>
		<integer>-12</integer>
		<key>@MMK_R_W</key>
		<integer>-29</integer>
		<key>@MMK_R_Y</key>
		<integer>-36</integer>
		<key>@MMK_R_w</key>
		<integer>-9</integer>
		<key>Q</key>
		<integer>-9</integer>
		<key>V</key>
		<integer>-19</integer>
		<key>quotedblright</key>
		<integer>-133</integer>
		<key>quoteright</key>
		<integer>-108</integer>
	</dict>
	<key>@MMK_L_P</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-29</integer>
		<key>@MMK_R_J</key>
		<integer>-56</integer>
		<key>comma</key>
		<integer>-219</integer>
		<key>period</key>
		<integer>-222</integer>
	</dict>
	<key>@MMK_L_R</key>
	<dict>
		<key>@MMK_R_W</key>
		<integer>-36</integer>
		<key>@MMK_R_Y</key>
		<integer>-12</integer>
		<key>V</key>
		<integer>-39</integer>
	</dict>
	<key>@MMK_L_W</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-27</integer>
		<key>@MMK_R_O</key>
		<integer>-4</integer>
		<key>@MMK_R_a</key>
		<integer>-5</integer>
		<key>@MMK_R_c</key>
		<integer>-4</integer>
		<key>@MMK_R_e</key>
		<integer>-4</integer>
		<key>@MMK_R_g</key>
		<integer>-2</integer>
		<key>comma</key>
		<integer>-40</integer>
		<key>period</key>
		<integer>-24</integer>
	</dict>
	<key>@MMK_L_Y</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-21</integer>
		<key>@MMK_R_a</key>
		<integer>-6</integer>
		<key>@MMK_R_s</key>
		<integer>-5</integer>
		<key>comma</key>
		<integer>-31</integer>
		<key>period</key>
		<integer>-21</integer>
	</dict>
	<key>@MMK_L_f</key>
	<dict>
		<key>quoteright</key>
		<integer>20</integer>
	</dict>
	<key>@MMK_L_g</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-8</integer>
	</dict>
	<key>@MMK_L_k</key>
	<dict>
		<key>@MMK_R_o</key>
		<integer>-7</integer>
	</dict>
	<key>@MMK_L_o</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-4</integer>
		<key>x</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_r</key>
	<dict>
		<key>@MMK_R_e</key>
		<integer>-4</integer>
		<key>@MMK_R_g</key>
		<integer>-11</integer>
		<key>@MMK_R_o</key>
		<integer>-9</integer>
		<key>comma</key>
		<integer>-16</integer>
		<key>period</key>
		<integer>-44</integer>
	</dict>
	<key>@MMK_L_w</key>
	<dict>
		<key>comma</key>
		<integer>-26</integer>
		<key>period</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_y</key>
	<dict>
		<key>period</key>
		<integer>-20</integer>
	</dict>
	<key>V</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-39</integer>
		<key>@MMK_R_C</key>
		<integer>-12</integer>
		<key>@MMK_R_G</key>
		<integer>-4</integer>
		<key>@MMK_R_J</key>
		<integer>-30</integer>
		<key>@MMK_R_a</key>
		<integer>-9</integer>
		<key>@MMK_R_e</key>
		<integer>-7</integer>
		<key>@MMK_R_o</key>
		<integer>-8</integer>
		<key>comma</key>
		<integer>-60</integer>
		<key>period</key>
		<integer>-69</integer>
	</dict>
	<key>v</key>
	<dict>
		<key>period</key>
		<integer>-40</integer>
	</dict>
</dict>
</plist>
