<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>C</key>
	<dict>
		<key>V</key>
		<integer>-5</integer>
	</dict>
	<key>F</key>
	<dict>
		<key>comma</key>
		<integer>-120</integer>
		<key>period</key>
		<integer>-80</integer>
	</dict>
	<key>L</key>
	<dict>
		<key>V</key>
		<integer>-21</integer>
		<key>W</key>
		<integer>-11</integer>
	</dict>
	<key>P</key>
	<dict>
		<key>comma</key>
		<integer>-150</integer>
		<key>period</key>
		<integer>-170</integer>
	</dict>
</dict>
</plist>
